.wrapper {
    width: 100%;
    margin-top: 8%;
}

.card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.card_wrapper {
    display: flex;
    flex-direction: column;

    >div:nth-of-type(n+2) {
        .right {
            flex-direction: row-reverse;

            .card_main_text {
                text-align: right;
            }

            .card_title {
                text-align: left;
            }
        }
    }
}

.card_main_text {
    color: rgb(170, 170, 170);

}

.card_title {
    text-align: end;
}

.img {
    margin: 0 25px;
    order: -1;
}

.title {
    text-align: center;
}

.main_text {
    text-align: center;
    width: 65%;
    margin: 15px auto;
    color: rgb(170, 170, 170);
}

.title_container {
    width: 35%;
}

.main_text_container {
    width: 35%;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    position: absolute;
}

@media (max-width: 768px) {
    .left {
        position: relative;
    }

    .right {
        flex-direction: column !important;
    }

    .title_container {
        width: 70%;
    }

    .main_text_container {
        width: 70%;
    }

    .card_title {
        text-align: left;
        font-size: 18px;
    }

    .card_main_text {
        text-align: left !important;
        font-size: 15px;
    }

    .wrapper {
        margin: 0;
    }
}